.bookings {
    background-color: white;
    padding: 35px 15px;
    height: 100%;
}

.b-head {
    font-size: 1.4rem;
    font-weight: 500;
    /* letter-spacing: 1px; */
    position: relative;
}

.b-head::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #499dff;
}

.bookings-main-container {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.Bcard {
    width: 46%;
    height: 350px;
    border: 1px solid rgb(162, 162, 162);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    min-height: 180px;
    min-width: 180px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bcard-container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.bcc-name {
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
}

.bcc-name::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    height: 3px;
    background-color: #499dff;
}