.card {
    min-height: 20vh;
    width: 90%;
    /* height: 20vh; */
    overflow: hidden;
    background-color: #F5F7F9;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #a1abb5;
    cursor: pointer;
    display: flex;
    margin: 10px;
    align-items: center;
    height: 28vh;
    margin-top: 30px;
}


.card-container {
    display: flex;
    /* padding: 20px 10px; */
}

.card-left {
    display: flex;
    align-items: center;
    flex: 0.4;
}

.card-left img {
    background-color: black;
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 9px;
}

.card-right {
    margin-left: 20px;
    padding : 20px 0px;
    display: flex;
    flex-direction: column;
    color: rgb(60, 60, 60);
    justify-content: center;
    flex: 0.6;
}

.card-loc {
    font-size: 0.9rem;
}

.card-name {
    font-size: 1.3rem;
    color: black;
    font-weight: 400;
}

.card-rate {
    font-size: 1.2rem;
    margin-top: 0.25rem;
}

.card-rate>span {
    font-size: 0.8rem;
}

.card-aminities {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    color: black;
    font-size: 0.8rem;
    padding-bottom: 10px;
}

.card-aminity {
    /* display: flex; */
    align-items: center;
    /* margin-top: auto; */
    display: flex;
}

.card-aminities img {
    /* width: 20px; */
    height: 20px;
    /* margin-right: 3px; */
}

.no-invert {
    filter: unset !important;
}