.mapwrapper {
    flex: 0.5;
    overflow: hidden;
}

.leaflet-container {
    width: 100%;
    height: 100vh;
}

.geosearch {
    width: 100%;
}

.leaflet-top {
    top: 20px;
    width: 100%;
}

.leaflet-top .geosearch input {
    width: 90%;
    margin: auto;
}

.leaflet-top .geosearch .reset {
    display: none;
}

.leaflet-top .geosearch form {
    display: flex;
    flex-direction: column;
}



.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: none !important;
}

a.leaflet-bar-part.leaflet-bar-part-single {
    display: none;
}

.leaflet-top .geosearch input {
    width: 90%;
    padding: 10px;
    margin: auto;
    font-size: 1.05rem;
    border-radius: 8px;
    border: none;
    box-shadow: 1px 1px 10px rgb(0 0 0/20%);
}

.leaflet-top .geosearch .results {
    width: 93%;
    margin: auto;
    background: white;
    margin-top: 5px;
    border-radius: 8px;
}

.leaflet-top .geosearch .results div {
    padding: 8px;
    font-size: 0.9rem;
    cursor: pointer;
}

.leaflet-top .geosearch .results div:hover {
    background-color: rgb(0 0 0/0.1);
}

a.leaflet-control-zoom-in {
    color: rgb(78, 119, 225);
}

a.leaflet-control-zoom-out {
    color: rgb(78, 119, 225);
}