.sidebar {
    background-color: #F5F7F9;
    height: 100%;
    box-shadow: 0px 2px 3px #F5F7F9;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 25px;
    gap: 40px;
    height: -webkit-fill-available;
    justify-content: space-between;
}

.logo {
    flex: 0.05;
    /* width: 2.5rem; */
    /* padding-top: 1.5vh; */
    cursor: pointer;
    color: #499dff;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex: 0.95;
    justify-content: center;
    align-items: center;
}

.sidebar-link {
    letter-spacing: 2.5px;
    cursor: pointer;
    color: #9CA3B6;
    transition: all 250ms;
    padding: 4px;
    display: flex;
    border-radius: 8px;
    width: fit-content;
}

.sidebar-link-active {
    color: #4C76E1;
}

.sidebar-link:hover {
    /* color: black; */
    color: #4C76E1;
}

.sidebar-open {
    /* margin-top: auto; */
    flex: 0.05;
}