@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.App {
  /* text-align: center; */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}
.home
{
  display: flex;
  height: 100%;
}

.home-dock
{
  width: 100%;
}
